APP_KEY=

MIGRATION_DB=PSQL

#DB PSQL
DATABASE_TYPE=postgres
DATABASE_NAME=dbname
DATABASE_USER=dbuser
DATABASE_PASSWORD=password
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_SCHEMA=public
DATABASE_SSL_MODE=disable
DATABASE_OPTIONS='-csearch_path=public'
DATABASE_URL= "$DATABASE_TYPE://$DATABASE_USER:$DATABASE_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$DATABASE_NAME?sslmode=$DATABASE_SSL_MODE&options=$DATABASE_OPTIONS"


#DB MYSQL
MYSQL_DATABASE_TYPE=mysql
MYSQL_DATABASE_NAME=
MYSQL_DATABASE_USER=teter
MYSQL_DATABASE_PASSWORD=
MYSQL_DATABASE_HOST=localhost
MYSQL_DATABASE_PORT=3306
MYSQL_DATABASE_SCHEMA=public
MYSQL_DATABASE_SSL_MODE=disable
MYSQL_DATABASE_OPTIONS="-csearch_path=$DATABASE_SCHEMA"

#DB MONGODB
MONGODB_DATABASE_TYPE=mongodb
MONGODB_DATABASE_HOST=127.0.0.1
MONGODB_DATABASE_PORT=27017
MONGODB_DATABASE_NAME=
MONGODB_DATABASE_USER=
MONGODB_DATABASE_PASSWORD=


#DB MONETDB
MONETDB_DATABASE_TYPE=monetdb
MONETDB_DATABASE_HOST=127.0.0.1
MONETDB_DATABASE_PORT=50000
MONETDB_DATABASE_NAME=
MONETDB_DATABASE_USER=
MONETDB_DATABASE_PASSWORD=
MONETDB_DATABASE_SCHEMA=sys

#EMAIL
MAIL_DRIVER=smtp
MAIL_HOST=jump.bg
MAIL_PORT=465
MAIL_USERNAME="info@jump.bg"
MAIL_PASSWORD="password"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="info@jump.bg"
MAIL_FROM_NAME="Info"
MAIL_AUTHENTICATION=plain

# --- Kalpasan admin CLI (loopback-only, bearer token) ---
# Set to enable /api/admin/* endpoints. Empty = admin disabled.
KALPASAN_ADMIN_TOKEN=
# KALPASAN_ADMIN_URL=http://127.0.0.1:9090
